#!/usr/bin/env bash

# Switch to US international with Caps as Mod/Escape
setxkbmap -layout us,ar -option grp:rctrl_rshift_toggle
# Properties button extra Mod/Escape
xmodmap -e 'keycode 135 = Super_L'
xset r rate 300 50 	# Speed xrate up

# xwallpaper --zoom "$HOME/.config/wall.png" &
walset -f "$HOME/.config/wall.png" &

sxhkd &	# Bind keys
unclutter &		# Remove mouse when idle
dunst &			# dunst for notifications
mpd >/dev/null 2>&1 &
mpdupdate &
